extends layout

block headaddon
  script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js")

block main
  div.container
    div.row
      h1 סקירת מצב
      
    div.row.justify-content-center
      h2
        b סכום נותר לחסכון: !{remaining_sum}₪

    div.row
      div.col-sm
        h3 הוצאות
        
        canvas(id="month-spending-chart", width="500", height="400")
        script.
          new Chart($("#month-spending-chart"), {
              type: 'doughnut',
              data: {
                labels: !{JSON.stringify(spending_circle.labels)},
                datasets: [
                  {
                    label: "סכום (₪)",
                    backgroundColor: !{JSON.stringify(spending_circle.colors)},
                    data: !{JSON.stringify(spending_circle.data)}
                  }
                ]
              },
              options: {
                responsive: false
              }
          });
      div.col-sm
        h3 הכנסות
        
        canvas(id="month-earning-chart", width="500", height="400")
        script.
          new Chart($("#month-earning-chart"), {
              type: 'doughnut',
              data: {
                labels: !{JSON.stringify(earning_circle.labels)},
                datasets: [
                  {
                    label: "סכום (₪)",
                    backgroundColor: !{JSON.stringify(earning_circle.colors)},
                    data: !{JSON.stringify(earning_circle.data)}
                  }
                ]
              },
              options: {
                responsive: false
              }
          });
      
