extends layout

block content
  -data = data || {}

  if action
    div.row
      p !{action}, !{result}

  div.row
    a.btn.btn-primary(href="/periodic/create") הוספה

    br

    if (periodic_list.length != 0)
      table.table.table-striped
        thead
          tr
            th(scope="col") חוזר
            th(scope="col") סוג
            th(scope="col") סכום
            th(scope="col") שם
            th(scope="col") תגיות
            th(scope="col") פעולות
        tbody
          each transaction in periodic_list
            tr
              td !{transaction.period}
              td
                if (transaction.is_outcome == true)
                  p הוצאה
                else
                  p הכנסה
              td !{transaction.sum} ₪
              td !{transaction._transaction_type.title}
              td
                ul
                  if transaction._transaction_type._transaction_tags
                    each tag in transaction._transaction_type._transaction_tags
                      li !{tag.title}
              td
                a.btn.btn-primary(href="/periodic/"+transaction._id+"/delete") מחק
    else
      div.row לא נמצאו עסקות חודשיות.
