extends layout

block content
  -data = data || {}

  if action
    div.row
      p !{action}, !{result}

  div.row
    a.btn.btn-primary(href="/periodic/create") הוספה

    br

  if (periodic_list.length != 0)
    div.row
      table.table.table-striped
        thead
          tr
            th(scope="col") חוזר
            th(scope="col") סוג
            th(scope="col") סכום
            th(scope="col") שם
            th(scope="col") תגיות
            th(scope="col") פעולות
        tbody
          each transaction in periodic_list
            tr
              td !{transaction.period}
              td
                if (transaction._transaction_type.is_outcome == true)
                  p הוצאה
                else
                  p הכנסה
              td !{transaction.sum} ₪
              td !{transaction._transaction_type.title}
              td 
                if (transaction._transaction_type._transaction_tag != null)
                  p !{transaction._transaction_type._transaction_tag.title}
              td
                a.btn.btn-primary(href="/periodic/"+transaction._id+"/delete") מחק
  else
    div.row לא נמצאו עסקות חודשיות.
